%h1 Sign in to Fireball

%p Talk to Fireball in over 50 languages.

%h3= flash[:notice]

= form_tag '/login' do
  %div.formgroup
    = label_tag :username
    = text_field_tag :username, nil, :autofocus => :true, :autocomplete => false
  %div.formgroup
    = label_tag :password
    = password_field_tag :password
  %div.formsubmit
    = submit_tag "login"
