<h1>Flight <%= "#{@flight.name}" %></h1>
<p>
  <%= "origin: #{@flight.origin}" %> <br>
  <%= "destination: #{@flight.destination}" %> <br>
  <%= "date: #{@flight.date}" %> <br>
  <%= "configuration: #{@flight.airplane.rows} rows by #{@flight.airplane.colums} columns" %> <br>
</p>