<h1>single flight show</h1>
<p>
  <%= 'flight id: ' + @flight.id %> <br>
  <%= 'flight name: ' + @flight.name %> <br>
  <%= 'flight origin: ' + @flight.origin %> <br>
  <%= 'flight destination: ' + @flight.destination %> <br>
  <%= 'flight date: ' + @flight.date %> <br>

  <%= 'airplane configuration: ' + @airplane.rows + 'rows & ' + @airplane.colums + ' columns'%> <br>

</p>